header 
    .container-fullid.border-bottom
        .d-flex.justify-content-between
            nav.nav
                li.nav-item
                    a.nav-link.active(href='#') Item 1
                li.nav-item
                    a.nav-link.active(href='#') Item 2
                li.nav-item
                    a.nav-link.active(href='#') Item 2
                li.nav-item
                    a.nav-link.active(href='#') Item 2
                li.nav-item
                    a.nav-link.active(href='#') Item 2
                li.nav-item
                    a.nav-link.active(href='#') Item 2
                li.nav-item
                    a.nav-link.active(href='#') Item 2
            .d-flex.phones 
                a.phone(href="#") +7 (812) 77-77-77
                a.phone(href="#") +7 (812) 77-77-77
    span.icon-moon.icon-cart
