.news-card 
    .news-card__date
        .news-card__date_day 21
        | августа 2021
    .news-card__title Технический выходной 14.08.2021 в СПб
    .news-card__button
        | Подробнеее
        div.icon-moon.icon-arrow 
