.tovar-item
    .tovar-item__img 
        img(src=require('../../img/tovar-plch.png'), alt="alt")
    .tovar-item__title Мозайка Deluxe, пример длинного названия
    ul.tovar-item__attrs
        li.tovar-item__attrs_item 
            span Производитель: 
            | Bonaparte
        li.tovar-item__attrs_item 
            span Размер, см: 
            | 31.6 / 31.6 
        li.tovar-item__attrs_item 
            span Тип поверхности: 
            | Стекло
        li.tovar-item__attrs_item 
            span Страна: 
            | Италия
    .tovar-item__price.icon-moon.icon-sale 
        .tovar-item__price_value 
            .tovar-item__price_old 
                | 2800 
                span руб./м2
            | 2400 
            span руб./м2
    button.tovar-item__button.icon-moon.icon-cart Купить
    button.tovar-item__oneclick Купить в 1 клик

