$color-blue: #43a1d0;
$color-gray: #7f7f7f;
$color-red: #e44949;
$color-violet: #6209a2;

// icomoon
$icomoon-font-family: "iconsAuqaDecor" !default;
$icomoon-font-path: "../fonts" !default;

$icon-arrow: "\e900";
$icon-cart: "\e901";
$icon-catalog: "\e902";
$icon-close: "\e903";
$icon-hit: "\e904";
$icon-inst: "\e905";
$icon-lowArrow: "\e906";
$icon-mail: "\e907";
$icon-sale: "\e908";
$icon-serch: "\e909";
$icon-vk: "\e90a";

